.button {
    box-sizing: border-box;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    line-height: 14px;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.primary {
    color: #FFF;
    border: 1px solid #FFF;
    background-color: #7653FC;
    transition: ease-in 0.5s;
}
.primary:hover {
    background: #623bfd;
}

.ghost {
    color: #000;
    /* background: none; */
    background: #FFF;
    border: 1px solid #EBEBEB;
    transition: ease-in 0.5s;
}
.ghost:hover {
    background: #eeeeee;
}
.ghost::after {
    content: url(../../public/arrow.svg);
    margin-left: 11px;
}