.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu__search {
    margin-bottom: 3px;
}

.menu__nav {
    margin-bottom: 20px;
}

.menu__logo {
    margin-top: 35px;
    margin-left: 12px;
}

/* Отделить в компонент */

.nav__menu > ul {
    display: flex;
    flex-direction: column;
    gap: 17px;
    list-style-type: none;
}

.nav__item {
    display: flex;
    flex-direction: column;
    gap: 13px;

    color: #787D85;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    font-weight: 500;
}

.nav__item a {
    text-decoration: none;
}

.nav__item a:visited, 
.nav__item a:active, 
.nav__item a:link {
    color: inherit;
}

.nav__item:hover > a > span {
    color: #4010ff;
    transition: color 0.7s;
}

.nav__item:hover > a > svg {
    fill: #4010ff;
    transition: fill 1s;
}

.nav__item-selected {
    color: #7653FC;
}

.nav__item svg {
    position: relative;
    top: 7px;
    fill: #787D85;
    margin-right: 20px;
}

.nav__item-selected svg {
    fill: #7653FC;
}

.nav__item--secondLevel {
    display: flex;
    flex-direction: column;
    gap: 13px;
    color: #787D85;
    margin-left: 12px;

    padding: 8px 32px;
    border-left: 2px solid #DFDFDF;;
}

.nav__item--secondLevel > li {
    list-style-type: none;
}

.nav__item--secondLevel > li > a {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
}