.logo__wrapper {
    display: flex;
    flex-direction: row;
    gap: 8px;

    color: #7653FC;
    font-style: normal;
    line-height: normal;
}

.logo__wrapper > h2 {
    position: relative;
    top: 1px;
    font-size: 30px;
    font-weight: 700;
}

.logo__wrapper > h2 span {
    padding-left: 4px;
    font-size: 24px;
    font-weight: 200;
}

.logo__wrapper>.logo {
    position: relative;
    top: -1.5px;
    fill: #7653FC;
}