.button__search {
	padding: 7px 7px 5px;
	background: #7653FC;
	border-radius: 5px;
	border-style: none;
	cursor: pointer;
}

.search__wrapper {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
	background-color: #fff;
	color: #000;
	padding: 1px;
	border-radius: 5px;
	border: 2px solid transparent;
}

.search__wrapper-focus {
	border: 2px solid #7653FC;
}

.input__search {
	border-style: none;
	width: 100%;
	margin: 7.5px 0;
	padding: 0 12px;
}

.input__search:focus {
	outline: none;
}

.input__search::placeholder {
	position: relative;
	letter-spacing: 0.5px;
	top: 1.5px;
	color: #A4A4A4;
	font-size: 16px;
	font-weight: 400;
}