.h {
    color: #3B434E;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0;
    margin: 0;
}

.h1 {
    font-size: 26px;
}
.h2 {
    font-size: 22px;
}
.h3 {
    font-size: 20px;
}