.tag {
    display: inline;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
    margin-right: 8px;
    font-style: normal;
}

.tag a {
    text-decoration: none;
}

.s {
    font-size: 12px;
    line-height: 12px;
    padding: 5px 10px;
}

.m {
    padding: 5px 10px;
    font-size: 14px;
    line-height: 14px;
}


.gray {
    color: #FFF;
    background: #B3C0D9;
    font-weight: bold;
}

.red {
    color: #FFF;
    background: #DE0000;
    font-weight: bold;
}

.green {
    color: #1DC37E;
    background: #C8F8E4;
    font-weight: bold;
}

.ghost {
    color: #3B434E;
    border: 1px solid #EBEBEB;
    font-weight: 500;
}

.lilac {
    color: #7653FC;
    border: 1px solid #7653FC;
    font-weight: 500;
}